<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" (click)="onTabChosen(CharacterSide.All)" style="cursor: pointer" [ngClass]="{active: chosenTab ===
         CharacterSide.All}">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="onTabChosen(CharacterSide.Light)" style="cursor: pointer" [ngClass]="{active: chosenTab ===
        CharacterSide.Light}">Light</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="onTabChosen(CharacterSide.Dark)" style="cursor: pointer" [ngClass]="{active: chosenTab ===
        CharacterSide.Dark}">Dark</a>
    </li>
  </ul>
  <app-list [characters]="getCharacters()"></app-list>
</div>
